# Ignore all
*

# Unignore all with extensions
!*.*
!makefile

# Unignore all dirs
!*/

# Ignore .o files
*.o

# VSCode config files
.vscode/

# Ignore latex build files
*.gz
*.fls
*.log
*.aux
*.fdb_latexmk
*temp.tex
*.xmpi

# Beamer tex specific build files
*.nav
*.out
*.snm
*.toc